<h1>Add user</h1>
<form>
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
  </div>

  <div class="form-group">
    <label for="lastname">Lastname:</label>
    <input type="text" id="lastname" name="lastname" required>
  </div>

  <div class="form-group">
    <label for="age">Age:</label>
    <input type="number" id="age" name="age" required>
  </div>

  <button type="submit">Submit</button>
</form>
<h1>List Of Users</h1>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Lastname</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.username}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.age}}</td>
    </tr>
  </tbody>
</table>